<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <% include partials/nav %>
        <div class="section question">
            <div class="container question__sentence">
                <form method="post" id="question-blank-answers">
                    <% question.sentence.forEach(function(word, index) { %>
                    <% if (question.blanks[index]) { %>
                    <% const isCorrect = answered && question.blanks[index] === userAnswers['userAnswer-' + index] %>
                    <div class="control is-inline-block question__word question__word--blank">
                        <div class="select <%= answered ? (isCorrect ? 'is-success' : 'is-danger') : 'is-info' %>">
                            <select required name="<%= 'userAnswer-' + index %>" <%= answered ? 'disabled' : '' %>>
                                <option selected value></option>
                                <% particles.forEach(function(particle) { %>
                                <option value="<%= particle %>" <%- userAnswers['userAnswer-' + index] === particle ? 'selected' : '' %>>
                                <%= particle %>
                                </option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <% if (answered && !isCorrect) { %>
                    <span class="question__word question__word--answer">
                        <%= question.blanks[index] %>
                    </span>
                    <% } %>
                    <% } else { %>
                    <div class="question__word is-inline">
                        <%= word %>
                    </div>
                    <% } %>
                    <% }) %>
                </form>
            </div>
            <div class="container question__buttons">
                <% if (answered) { %>
                <a class="button is-info is-large" href="<%= nextQuestionUrl %>">
                    Next Question
                </a>
                <% } else { %>
                <div class="control is-info">
                    <button type="submit" form="question-blank-answers" class="button is-link is-large">
                        Check
                    </button>
                </div>
                <% } %>
            </div>
        </div>
    </body>
</html>
