<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <% include partials/nav %>
        <div class="section question">
            <div class="container">
                <form method="post" name="question-blank-answers">
                    <% question.sentence.forEach(function(word, index) { %>
                    <% if (question.blanks[index]) { %>
                    <div class="control is-inline-block word word--blank">
                        <div class="select is-info">
                            <select name="<%= 'question-answer-' + index %>">
                                <option selected value></option>
                                <% particles.forEach(function(particle) { %>
                                <option value="<%= particle %>" <%- userAnswers['question-answer-' + index] === particle ? 'selected' : '' %>>
                                <%= particle %>
                                </option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <% } else { %>
                    <div class="word is-inline">
                        <%= word %>
                    </div>
                    <% } %>
                    <% }) %>
                    <input type="submit">
                </form>
                <br>
            </div>
        </div>
    </body>
</html>
